body{
    background-color: azure;
    text-align: center;
    color: yellow;
    margin: 0 auto;
}

#operand1, #operand2{
    color: black;
    width: 60%;
        
}

h1{
    color: orangered;    
}
p{
    background-color: rgb(31, 155, 118);
    text-align: center;
    color: white;
    width: 80%;
    margin-left: 10%;
    border: 8pt;
    border-color: black;
}